* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    list-style: none;
}

.application {
    /*border: 1px solid red;*/
    text-align: center;
    height: 100px;
    padding-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #ff4dff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.form_container {
    max-width: 90%; 
    margin: 30px auto;
    padding: 10px;
    background: #bfbfbf;
}

.box {
    width: 95%;
    background: #000;
    margin: 20px auto;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.top {
    background: #007399;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-sizing: 25px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    padding: 5px 5px 5px 25px;
     
}

ul {
    padding: 12px;
    margin: 12px;
}

ul li {
    margin: 15px 0;
}

.form_box {
    width: 500px;
    margin: 10px;
}

label {
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 180px;
    vertical-align: top;
    color: #fff;
}